{
  "env": {
    "development": {
      "sourceMaps": "both"
    },
    "test": {
      "sourceMaps": "inline",
      "plugins": [ "istanbul" ]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ]
}
